In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.githubusercontent.com/higoramario/univesp-com360-mineracao-dados/main/dados-covid-limpeza.csv'
casos_covid = pd.read_csv(url)
casos_covid.head(20)

    id  idade   uf renda  vacina
0    1   15.0   SP     C       1
1    2   38.0   MG   NaN       0
2    3   49.0   RJ     C       0
3    4   71.0   BA   NaN       0
4    5   58.0   MG     D       1
5    6   26.0   SP     B       0
6    7   87.0   BA   NaN       1
7    8   56.0   MG     A       1
8    9   74.0   BA   NaN       0
9   10   54.0   SP   NaN       0
10  11   22.0  NaN     C       1
11  12   38.0  NaN     C       0
12  13   14.0   RJ   NaN       1
13  14    NaN  NaN     C       0
14  15   84.0   RS     D       1
15  16    NaN  NaN   NaN       0
16  17    NaN   SP     E       0
17  18   68.0  NaN   NaN       0
18  19   61.0   sp     D       0
19  20    NaN   RS     E       1

In [ ]:
casos_covid.info()
#vário valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [ ]:
casos_covid.describe()
#Estatísticas básicas
#focar no atributo 'idade' que é a coluna com valores numéricos
#vamos usar o valor da média para imputar os valores da coluna 'idade'

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000

In [ ]:
casos_covid['uf'].value_counts()
# Numero de pessoas por estado
# Problema Detectado: São Paulo está escrito com SP e sp, Rio de Janeiro está escrito RJ e rj e Ceará está escrito com CE
# Nome do Problema Detectado: Redundância
# Como resolver: Capitalização de tudo (próximo shell)

uf
SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: count, dtype: int64

In [ ]:
# o atributo 'uf' é um string por isso o 'str' e o upper é a função do pandas para capitalizar tudo
# Redundância? CORRIGIDA
casos_covid['uf'] = casos_covid['uf'].str.upper()
casos_covid['uf'].value_counts()

uf
SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: count, dtype: int64

In [ ]:
# Não possui redundância e observa-se um predominância da classe C nessa base de dados
casos_covid['renda'].value_counts()

renda
C    14
D     7
B     4
A     3
E     3
Name: count, dtype: int64

In [ ]:
# Está completamente preenchido. 35 pessoas não foram vacinadas e 15 foram vacinadas
casos_covid['vacina'].value_counts()

vacina
0    35
1    15
Name: count, dtype: int64

In [ ]:
# Vamos preencher os valores ausentes do atributo 'idade' com a média dos valores dessa coluna.
# Por isso utilizamos a função 'fillna' para completar os valores nulos
# round para arredondarmos o valor para número inteiro
# (casos_covid['idade'].mean nessa etapa há o calculo da média dos valores da coluna 'idade'
casos_covid['idade'].fillna(round(casos_covid['idade'].mean()), inplace=True)

/tmp/ipython-input-3440087389.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  casos_covid['idade'].fillna(round(casos_covid['idade'].mean()), inplace=True)

Provavelmente você recebeu um aviso de 'warning' semelhante a esse

'/tmp/ipython-input-3440087389.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  casos_covid['idade'].fillna(round(casos_covid['idade'].mean()), inplace=True)'

Isso significa que, em breve, o inplace=True não funcionará mais nesse contexto.

Portanto, vamos utilizar outra abordagem para realizar essa ação de forma segura e compatível com futuras versões do pandas.

In [ ]:
# Selecionamos a coluna 'idade' e substituímos os valores faltantes (NaN)
# pela média arredondada dessa coluna, garantindo que a operação seja aplicada
# diretamente no DataFrame original
# o 49 representa a média da coluna por issa sua distribuição alta
# Esse foi um processo de imputação usando uma constante global para todos os valores que nesse caso foi a média
# Essa visualização mostra que usar a média pode não ter sido ideal; a mediana poderia ser uma alternativa
casos_covid['idade'] = casos_covid['idade'].fillna(round(casos_covid['idade'].mean()))
casos_covid['idade'].value_counts()

idade
49.0    21
38.0     2
87.0     2
26.0     2
84.0     2
61.0     2
54.0     2
71.0     1
56.0     1
58.0     1
15.0     1
74.0     1
14.0     1
22.0     1
68.0     1
35.0     1
37.0     1
48.0     1
20.0     1
41.0     1
57.0     1
45.0     1
33.0     1
17.0     1
Name: count, dtype: int64

In [ ]:
# Agora vamos preencher os valores nulos da coluna 'uf'.
# A função fillna possui o parâmetro 'method', que define como será feita a imputação.
# Usaremos o método 'ffill' (forward fill), que preenche cada valor nulo
# com o último valor válido encontrado anteriormente na coluna.

casos_covid['uf'].fillna(method='ffill', inplace=True)
casos_covid['uf'].value_counts()

/tmp/ipython-input-3201451398.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  casos_covid['uf'].fillna(method='ffill', inplace=True)

uf
SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: count, dtype: int64

In [ ]:
# Como tivemos aviso anteriormente, vamos preencher os valores nulos da coluna 'uf'
# usando forward fill (ffill) diretamente no DataFrame sem o inplace=True
casos_covid['uf'] = casos_covid['uf'].fillna(method='ffill')
casos_covid['uf'].value_counts()

/tmp/ipython-input-104851285.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  casos_covid['uf'] = casos_covid['uf'].fillna(method='ffill')

uf
SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: count, dtype: int64

In [ ]:
# Antes havia aviso porque fillna(method='ffill') será descontinuado
# Agora usamos ffill() diretamente para preencher os valores nulos, sem gerar warnings
casos_covid['uf'] = casos_covid['uf'].ffill()
casos_covid['uf'].value_counts()

uf
SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: count, dtype: int64

Se olharmos com atenção, os valores aumentaram após a imputação, mas a distribuição continuou proporcional. Antes, SP, MG, RJ e BA tinham mais casos, e depois da imputação a situação se manteve mais ou menos a mesma

In [ ]:
# Imputação com a renda
# Só que agora com o registro anterior
# Clase C continua dominando o número de casos
casos_covid['renda'].fillna(method='bfill', inplace=True)
casos_covid['renda'].value_counts()

/tmp/ipython-input-1860936458.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  casos_covid['renda'].fillna(method='bfill', inplace=True)
/tmp/ipython-input-1860936458.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  casos_covid['renda'].fillna(method='bfill', inplace=True)

renda
C    22
D    12
B     6
A     5
E     5
Name: count, dtype: int64

In [ ]:
# gerou avisos, vamos usar a versão mais rápida
# Ambos os métodos (ffill e bfill) ajudam a manter a proporção de dados para determiando atributo
# E é isso que queremos quando estamoz fazendo imputação dentro de um conjunto de dados
casos_covid['renda'] = casos_covid['renda'].bfill()
casos_covid['renda'].value_counts()

renda
C    22
D    12
B     6
A     5
E     5
Name: count, dtype: int64

In [ ]:
# Vamos ver nosso DF após as imputações
# Todos os atributos tem valores não nulos
# Pré-processamento feito com sucesso
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   50 non-null     float64
 2   uf      50 non-null     object
 3   renda   50 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [ ]:
# por fim vamos ver a base de dados inteira
# conseguimos observar esse preenchimento de todos os valores do atributos dentro desse DF
casos_covid.head(len(casos_covid))

    id  idade  uf renda  vacina
0    1   15.0  SP     C       1
1    2   38.0  MG     C       0
2    3   49.0  RJ     C       0
3    4   71.0  BA     D       0
4    5   58.0  MG     D       1
5    6   26.0  SP     B       0
6    7   87.0  BA     A       1
7    8   56.0  MG     A       1
8    9   74.0  BA     C       0
9   10   54.0  SP     C       0
10  11   22.0  SP     C       1
11  12   38.0  SP     C       0
12  13   14.0  RJ     C       1
13  14   49.0  RJ     C       0
14  15   84.0  RS     D       1
15  16   49.0  RS     E       0
16  17   49.0  SP     E       0
17  18   68.0  SP     D       0
18  19   61.0  SP     D       0
19  20   49.0  RS     E       1
20  21   49.0  RS     D       1
21  22   35.0  SP     D       0
22  23   37.0  SP     C       1
23  24   48.0  RS     C       0
24  25   49.0  RS     C       0
25  26   49.0  CE     C       1
26  27   20.0  CE     B       0
27  28   49.0  SP     B       0
28  29   49.0  SP     D       0
29  30   41.0  RJ     D       1
30  31   49.0  RJ     B       0
31  32   87.0  RJ     A       0
32  33   49.0  SP     A       1
33  34   49.0  SP     C       0
34  35   26.0  CE     C       0
35  36   49.0  CE     C       1
36  37   49.0  SP     D       0
37  38   84.0  SP     C       0
38  39   49.0  SP     A       0
39  40   54.0  PE     B       0
40  41   61.0  PE     B       0
41  42   49.0  PE     C       0
42  43   49.0  SP     C       0
43  44   57.0  SP     C       0
44  45   45.0  SP     D       0
45  46   33.0  AM     D       0
46  47   49.0  PE     E       0
47  48   49.0  PE     E       0
48  49   49.0  MG     C       1
49  50   17.0  MG     C       0